{% include html.html %}
  <head>
{% include head_post.html %}
  </head>

  <body>
    <div id="container">
      <div id="main" role="main">
        <nav><a href="../../../index.html">&laquo back</a></nav>
{{ content }}

        <div class="sharing">
          <div class="g-plusone" data-size="medium" data-count="false"></div>
          <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="P_E">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>
        <nav class="toplink"><a href="#top">up</a></nav>
        <h3>Comments</h3>
{% include disqus.html %}
      </div>
      <footer>
        Peteris Erins &copy; 2011 | <a href="../../../rss.xml">RSS</a> <a href="../../../atom.xml">Atom</a> 
      </footer>
    </div> <!--! end of #container -->

{% include scripts_post.html %}
  </body>
</html>
